<input class="filter-search input-group-lg rounded-3 d-block mx-auto p-1 mb-5 mw-50" type="text" id="filter-search"
    placeholder="Search by Title..." [formControl]="searchControl">
<section id="library" class="container-fluid pt-2 pb-2 mb-5">
    <h2 class="d-block text-center featured p-2 rounded-3 mt-3 mx-auto">
        Books
    </h2>
    <div class="container mt-4 mb-4 d-flex flex-row justify-content-around flex-wrap" id="featured">
        @for(book of filteredBooks; track book._id) {
        <div class="card mb-4 custom-card mx-2">
            <div class="card-header">
                <h2>{{ book.title }}</h2>
                <p class="italic-text">{{ book.author }}</p>
            </div>
            <div class="card-body">
                <p>{{ book.short_description }}</p>
                <p>{{ book.page_length}}</p>
            </div>
            <div class="card-footer">
                {{ book.genres?.join(', ') }}
            </div>
            <div class="card-footer">
                <button type="button" class="editButton btn btn-warning" (click)="onEditClick(book)">
                    Edit
                </button>
            </div>
        </div>
        }
    </div>
</section>
<section id="editSubmit" class="container-fluid ps-md-5 pe-md-5"
    [style.display]="(isVisible$ | async) ? 'block' : 'none'">
    <form id="editInfoForm" (ngSubmit)="submitEditBook()" #editForm="ngForm" class="ms-3 me-3 ms-md-5 me-md-5">
        <input class="form-control" name="_id" [value]="editBook._id">

        <div class="mb-3 mt-3">
            <label class="form-label">Title:</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="editBook.title" required>
        </div>

        <div class="mb-3 mt-3">
            <label class="form-label">Author:</label>
            <input type="text" class="form-control" name="author" [(ngModel)]="editBook.author" required>
        </div>

        <div class="mb-3 mt-3">
            <label class="form-label">Description:</label>
            <textarea class="form-control" name="short_description" rows="3" [(ngModel)]="editBook.short_description"
                required></textarea>
        </div>

        <div class="mb-3 mt-3">
            <label class="form-label">Page Count:</label>
            <input type="text" class="form-control" name="page" [(ngModel)]="editBook.page" required>
        </div>

        <div class="mb-3 mt-3">
            <label class="form-label">Genres (comma separated):</label>
            <input type="text" class="form-control" name="genres" [formControl]="genresInput" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>