<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="navbar-brand">
                <svg width="35" height="35" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <linearGradient id="rainbow-gradient" x1="0%" y1="0%" x2="100%" y2="100%">
                            <stop offset="0%" style="stop-color: red; stop-opacity: 1" />
                            <stop offset="20%" style="stop-color: orange; stop-opacity: 1" />
                            <stop offset="40%" style="stop-color: yellow; stop-opacity: 1" />
                            <stop offset="60%" style="stop-color: green; stop-opacity: 1" />
                            <stop offset="80%" style="stop-color: blue; stop-opacity: 1" />
                            <stop offset="100%" style="stop-color: purple; stop-opacity: 1" />
                        </linearGradient>
                    </defs>
                    <text x="5" y="30" font-family="Arial" font-size="30" fill="url(#rainbow-gradient)">Q</text>
                </svg>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"  ariaCurrentWhenActive="page">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/discover" routerLink="/discover" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">Discover</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/genre" routerLink="/genre" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">Genre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/library" routerLink="/library" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">Library</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contribute" routerLink="/contribute" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">Contribute</a>
            </li>
        </ul>
    </div>
</nav>