<section>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
            role="tab" aria-controls="nav-home" aria-selected="true">Add Book</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
            role="tab" aria-controls="nav-profile" aria-selected="false">Edit Book</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
            role="tab" aria-controls="nav-contact" aria-selected="false">Delete Book</button>
    </div>
</section>

<div class="tab-content mb-5" id="nav-tabContent">
    <div class="tab-pane fade show active p-3" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <app-add-book></app-add-book>
    </div>

    <div class="tab-pane fade p-3 pt-md-5" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

        <div class="container mt-4 mb-4 d-flex flex-row justify-content-around flex-wrap" id="searchToEdit">
            <app-edit-book></app-edit-book>
        </div>
    </div>
    <div class="tab-pane fade p-3 pt-md-5" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

        <div class="container mt-4 mb-4 d-flex flex-row justify-content-around flex-wrap" id="searchToDelete">

        </div>

        <form id="deleteSubmit" method="POST" action="/delete" class="ms-3 me-3 ms-md-5 me-md-5">
            <div class="mb-3 mt-3">
                <input id="idToDelete" type="hidden" class="idToEdit form-control" name="_id">
            </div>
            <div class="d-flex justify-content-center pb-5">
                <button type="submit" class="btn btn-danger">Complete Delete</button>
            </div>
        </form>
    </div>
</div>