<footer class="d-flex align-items-center">
    <div class="container">
        <p class="footer-text"> <svg width="45" height="45" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <linearGradient id="rainbow-gradient" x1="0%" y1="0%" x2="100%" y2="100%">
                        <stop offset="0%" style="stop-color: red; stop-opacity: 1" />
                        <stop offset="20%" style="stop-color: orange; stop-opacity: 1" />
                        <stop offset="40%" style="stop-color: yellow; stop-opacity: 1" />
                        <stop offset="60%" style="stop-color: green; stop-opacity: 1" />
                        <stop offset="80%" style="stop-color: blue; stop-opacity: 1" />
                        <stop offset="100%" style="stop-color: purple; stop-opacity: 1" />
                    </linearGradient>
                </defs>
                <text x="5" y="30" font-family="Arial" font-size="30" fill="url(#rainbow-gradient)">Q</text>
            </svg>
            The Queer Book Repository © Ciarán Hayes, 2025 </p>
    </div>
</footer>